<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body {
            background-color: #00D1B2;
            text-align: center;
        }
    </style>
</head>

<body>
    <h1>Hey!</h1>
    <input type="text" placeholder="Link to make shorter" id="linkToShorten" />
    <button onclick="postLinkToShort()">asd</button>
    <script>
        function postLinkToShort() {
            var originalLink = document.getElementById('linkToShorten').value;


            fetch("http://localhost:9090/", {
                    method: 'post',
                    headers: {
                        'Accept': 'application/json, text/plain',
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        originalLink
                    })
                }).then(res => res.json())
                .then(res => {
                    console.log(res.shortLink)
                });


        }
    </script>
</body>

</html>